.git
.github
.DS_Store
.env
.env.*
.venv
venv
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.coverage
htmlcov

ai-ui
architecture
aws-lambda-ec2-scheduler
terraform-ai-infra
terraform-backend-bootstrap

node_modules
**/node_modules
build
dist
*.log
*.tfstate
*.tfstate.*
*.tfvars
*.tfplan
tfplan
*.pem
*.key
