[defaults]
inventory = inventory.aws_ec2.yml
roles_path = roles
collections_path = .ansible/collections
local_tmp = .ansible/tmp
remote_user = ec2-user
host_key_checking = False
retry_files_enabled = False
gathering = smart
# Run against both AZ instances in parallel (2 forks minimum; default is 5).
forks = 10
stdout_callback = default
callback_result_format = yaml
interpreter_python = auto_silent

[inventory]
enable_plugins = amazon.aws.aws_ec2

[privilege_escalation]
become = True
become_method = sudo
